<!-- Login Form Start -->
<div id="formAccept-{{ item.id }}" class="login--form modal fade">
    <div class="modal-dialog" >
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>

            <div class="modal-body">
                <div class="title">
                    <h2 class="h4">Confirmer l'acceptation?</h2>
                </div>
                <div class="">
                </div>
                <a href="{{ path('safe_colis_reservation_accepter', {'id':item.id}) }}" class="col-sm-12" id="buttonSuccess">Valider</a>
            </div>
        </div>
    </div>
</div>
<!-- Login Form End -->
